#header {
  display: flex;
  flex-direction: column;
  gap: 25px;
  place-content: top;
  place-items: top;

  @media (max-width: 1024px) {
    padding: 32px 20px 24px;
    gap: 18px;
  }
}

#content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  place-content: top;
  place-items: top;
  flex-grow: 1;

  @media (max-width: 1024px) {
    padding: 32px 20px 24px;
    gap: 18px;
  }
}

.search-bar {
  margin: 8px 0;
}

.character-card {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #666;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 10px;
}

.character-card__header h4 {
  margin: 8px;
}

.character-card__avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.character-card__details {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character-card__footer {
  padding: 8px;
}

.character-card__options {
  display: flex;
  gap: 10px;
}

.character-card__details dd {
  margin: 0 0 8px 0; 
}

.character-card__details dt {
  font-size: 0.8rem;
  color: #666; 
}

.character-results-list {
  display: flex;
  gap: 10px;
}
